/* --- Variables --- */

:root {
    --primary-color: rgba(195, 25, 30, 1);
    --black: rgba(0, 0, 0, 1);
}

:active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}


/* --- --- --- */


/* --- Controls --- */

.custom-radio>.text {
    cursor: pointer;
    margin-left: 10px;
}

.custom-radio>input[type='radio'] {
    visibility: hidden;
}

.custom-radio>input[type='radio']:after {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    box-shadow: 0 0 0 1px black;
    border: 1px solid white;
}

.custom-radio>input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    box-shadow: 0 0 0 1px black;
    border: 2px solid white;
}

.custom-checkbox {
    display: flex;
}

.custom-checkbox>* {
    align-items: center;
}

.custom-checkbox>.text {
    cursor: pointer;
    margin-left: 10px;
}

.custom-checkbox>input[type='checkbox'] {
    visibility: hidden;
}

.custom-checkbox>input[type='checkbox']:after {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    box-shadow: 0 0 0 1px black;
    border: 1px solid white;
}

.custom-checkbox>input[type='checkbox']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    position: relative;
    background-color: var(--primary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    box-shadow: 0 0 0 1px black;
    border: 2px solid white;
}

.select2-selection__rendered {
    line-height: 50px !important;
    height: 50px !important;
    font-size: 14px;
    font-weight: bold;
    padding-left: 16px !important;
}

.select2-results {
    font-size: 14px;
    font-weight: bold;
}

.select2-selection__rendered:focus {
    border: 0;
}

.select2-container .select2-selection--single {
    height: 50px !important;
}

.select2-selection__arrow {
    height: 50px !important;
}


/* --- --- --- */


/* --- Colors --- */

.color-primary {
    color: var(--primary-color)
}

.color-black {
    color: var(--black)
}

.bg-black {
    background-color: var(--black);
}


/* --- --- --- */


/* --- Font --- */

.font-primary {
    font-family: "Montserrat", sans-serif;
}

h1 {
    margin: 0;
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

.follow {
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    z-index: 2;
}

.fs-9 {
    font-size: 9px;
    margin: 0;
}

.fs-12 {
    font-size: 12px;
    margin: 0;
}

.fs-14 {
    font-size: 14px;
    margin: 0;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-30 {
    font-size: 30px;
}


/* --- --- --- */


/* --- Navbar --- */

.navbar a {
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 70px;
}

.active a.nav-link {
    color: var(--primary-color);
}

.navbar a:hover {
    color: var(--primary-color);
}

ul.navbar-nav li {
    margin-left: 25px;
    margin-right: 25px;
}


/* --- --- --- */


/* --- Shapes --- */

.brush {
    margin: 0;
    padding: 0;
    width: 192px;
    height: 23px;
}

.brush-transparent {
    opacity: 0.5;
    width: 192px;
    height: 23px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.big-brush {
    position: absolute;
    transform: translateY(-50%);
}


/* --- --- --- */


/* --- Cards --- */

.card-title {
    color: var(--black);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.card-price {
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
}


/* --- --- --- */


/* --- Gallery --- */

.gallery {
    height: 100%;
}

.gallery-item {
    opacity: 1;
    transition: ease-in-out .3s;
}

.gallery-item:hover {
    box-shadow: 0px 5px 10px grey;
    opacity: 0.8;
}


/* --- --- --- */

.button {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding: 5px 31px;
    border: 0;
    border-radius: 100px;
    color: white;
    background-color: var(--primary-color);
}

a.button:hover {
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
}

.chevron {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1em;
    line-height: 50px;
    border-radius: 100px;
    background-color: var(--primary-color);
}

.item-info>* {
    margin-bottom: 20px;
}

.rounded-corner {
    border-radius: 100px;
}

.hero-section {
    background: linear-gradient( 270deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 0.01%, #ffffff 100%), url("../images/hero-image.png");
    height: 400px;
}

.social-icons a {
    margin: 0.5em;
    color: var(--black);
}

.social-icons a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.delete-icon {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.delete-icon:hover {
    color: var(--primary-color);
}

.footer {
    margin-top: 5em;
}

.footer-content {
    z-index: 3;
}


/* --- Size selectors --- */

.select-size input {
    display: none;
}

label.size-label {
    font-weight: bold;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid var(--black);
    line-height: 50px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

input.size-input:hover+label.size-label {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

input.size-input:checked+label.size-label {
    border: 2px solid var(--primary-color);
    background: var(--primary-color);
    color: #ffffff;
}


/* --- --- --- */


/* --- Number input --- */

.quantity>* {
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    align-items: center;
}

#quantity {
    font-weight: bold;
    border: 2px solid var(--black);
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

#quantity::-webkit-outer-spin-button,
#quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* --- --- --- */


/* --- Promocode input --- */

.promocode {
    height: 50px;
    border-radius: 10px;
}

button.promocode {
    background-color: var(--primary-color);
    border: 0;
    color: white;
}


/* --- --- --- */


/* --- Checkout --- */

.checkout-sum>* {
    margin-bottom: 25px;
}

.checkout-sum>div>* {
    margin-bottom: 0;
}

.checkout-sum>hr {
    margin-top: 0;
}

.checkout-sum>.button:last-child {
    margin-bottom: 0 !important;
}

.checkout-item>div>img {
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.checkout-item-title {
    margin-left: 30px;
}

.checkout-input {
    height: 50px;
    padding: 0px 16px !important;
}


/* --- --- --- */

.clickable-row:hover {
    cursor: pointer;
    background: #dddddd;
}